<form action="" #userFrm="ngForm" (ngSubmit)="submitUser(userFrm)">
 <input type="text" name="txt_name" id="" placeholder="Name"  [(ngModel)]="name" #nameControl="ngModel" ngModel required >
       <div class="alert alert-danger" *ngIf="!nameControl.valid && nameControl.touched">name is required</div>
     
  <input type="text" name="txt_place" id="" placeholder="place"  [(ngModel)]="place" #placeControl="ngModel"  ngModel required >
       <div class="alert alert-danger" *ngIf="!placeControl.valid && placeControl.touched">place is required</div>
  <input type="number" name="contact_numbr" id="" placeholder="conct"   [(ngModel)]="contact" #contactControl="ngModel"  ngModel required >
       <div class="alert alert-danger" *ngIf="!contactControl.valid && contactControl.touched">contact is required</div>
  <button (click)="registerClicked($event)" style="background-color: rgb(240, 27, 27); color: #fff; padding-left: 10px;">register</button>
  <br><br><br>
  <button (click)="clearClicked()">clear</button>
</form>
<!-- <p>{{userFrm.value | json}}</p> -->
<br><br><br><br><br>
<table class="table table-primary" style="border: 1px solid;" >
  <thead class="thead-light">
  <tr style="border: 1px solid;" >
    <th scope="col">ROLL.NO</th>
    <th scope="col">NAME</th>
    <th scope="col">PLACE</th>
    <th scope="col">CONCACT</th>
    <th scope="col"> <button (click)="removeClicked($event)"> REMOVE </button></th>
  </tr>
  </thead>
  <tr *ngFor="let person of arr;" scope="row" >
       <td>{{person.rollnumber}}</td>
       <td>{{person.name}}</td>
       <td>{{person.place}}</td>
       <td>{{person.contact}}</td>
  </tr>
  <tr *ngIf="arr.length==0">
        <td colspan="4">No Data</td>
  </tr>

</table>